<div class="container" fxLayout="row" fxLayout.lt-sm="column">
    <div fxHide fxShow.lt-sm>
        <mat-toolbar color="primary">
            <span><strong>Virgo</strong></span>
            <div fxFlex fxLayout="row" fxLayoutAlign="space-evenly center">
                <a mat-icon-button [matTooltip]="'MENU.WALLET' | translate" [routerLink]="['wallet']" aria-label="Wallet">
                    <ng-container *ngTemplateOutlet="walletIcon"></ng-container>
                </a>
                <a mat-icon-button [matTooltip]="'MENU.CREDENTIALS' | translate" [routerLink]="['passwords']" aria-label="Password">
                    <ng-container *ngTemplateOutlet="passwordsIcon"></ng-container>
                </a>
                <a mat-icon-button [matTooltip]="'MENU.NOTES' | translate" [routerLink]="['notes']" aria-label="Notes">
                    <ng-container *ngTemplateOutlet="notesIcon"></ng-container>
                </a>
            </div>
            <button mat-icon-button [matTooltip]="'MENU.NOTIFICATIONS' | translate" aria-label="Notifications">
                <mat-icon class="fa-solid fa-bell"></mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="settings" [matTooltip]="'MENU.SETTINGS' | translate" aria-label="Menu">
                <mat-icon class="fa-solid fa-gear"></mat-icon>
            </button>
            <button mat-icon-button [matTooltip]="'MENU.LOGOUT' | translate" aria-label="Logout">
                <ng-container *ngTemplateOutlet="logoutIcon"></ng-container>
            </button>
        </mat-toolbar>
    </div>
    <mat-sidenav-container fxHide.lt-sm fxShow>
        <mat-sidenav class="sidenav" mode="side" position="start" opened>
            <mat-nav-list>
                <div mat-list-item fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign="space-between center">
                    <span mat-line><strong>Virgo</strong></span>
                    <div fxLayout.lt-md="column">
                        <button mat-icon-button [matTooltip]="'MENU.NOTIFICATIONS' | translate" aria-label="Notifications">
                            <mat-icon class="fa-solid fa-bell" color="primary"></mat-icon>
                        </button>
                        <button mat-icon-button [matMenuTriggerFor]="settings" [matTooltip]="'MENU.SETTINGS' | translate" aria-label="Menu">
                            <mat-icon class="fa-solid fa-gear" color="primary"></mat-icon>
                        </button>
                    </div>
                </div>

                <div mat-list-item fxHide.lt-md>
                    <mat-form-field class="example-full-width">
                        <mat-label>{{'SHARED.SEARCH' | translate}}</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

                <a mat-list-item [routerLink]="['wallet']" routerLinkActive="active">
                    <ng-container *ngTemplateOutlet="walletIcon"></ng-container>
                    <mat-icon mat-list-icon fxHide.lt-md fxShow class="fa-solid fa-wallet"></mat-icon>
                    <span mat-line fxHide.lt-md fxShow>{{'MENU.WALLET' | translate}}</span>
                </a>

                <a mat-list-item [routerLink]="['passwords']">
                    <ng-container *ngTemplateOutlet="passwordsIcon"></ng-container>
                    <mat-icon mat-list-icon fxHide.lt-md fxShow class="fa-solid fa-user-secret"></mat-icon>
                    <span mat-line fxHide.lt-md fxShow>{{'MENU.CREDENTIALS' | translate}}</span>
                </a>

                <a mat-list-item [routerLink]="['notes']">
                    <ng-container *ngTemplateOutlet="notesIcon"></ng-container>
                    <mat-icon mat-list-icon fxHide.lt-md fxShow class="fa-solid fa-note-sticky"></mat-icon>
                    <span mat-line fxHide.lt-md fxShow>{{'MENU.NOTES' | translate}}</span>
                </a>

                <mat-divider></mat-divider>

                <a mat-list-item (click)="signout()">
                    <ng-container *ngTemplateOutlet="logoutIcon"></ng-container>
                    <mat-icon mat-list-icon fxHide.lt-md fxShow class="fa-solid fa-right-from-bracket"></mat-icon>
                    <span mat-line fxHide.lt-md fxShow>{{'MENU.LOGOUT' | translate}}</span>
                </a>
            </mat-nav-list>
        </mat-sidenav>
    </mat-sidenav-container>
    <div class="main-page-container" fxFlex>
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #walletIcon>
    <mat-icon mat-list-icon fxHide fxShow.lt-md class="fa-solid fa-wallet"
        [matTooltip]="'MENU.WALLET' | translate"></mat-icon>
</ng-template>

<ng-template #passwordsIcon>
    <mat-icon mat-list-icon fxHide fxShow.lt-md class="fa-solid fa-user-secret"
        [matTooltip]="'MENU.CREDENTIALS' | translate"></mat-icon>
</ng-template>

<ng-template #notesIcon>
    <mat-icon mat-list-icon fxHide fxShow.lt-md class="fa-solid fa-note-sticky"
        [matTooltip]="'MENU.NOTES' | translate"></mat-icon>
</ng-template>

<ng-template #logoutIcon>
    <mat-icon mat-list-icon fxHide fxShow.lt-md class="fa-solid fa-right-from-bracket"
        [matTooltip]="'MENU.LOGOUT' | translate"></mat-icon>
</ng-template>

<mat-menu #settings>
    <button mat-menu-item *ngIf="user">
        <mat-icon>person_outline</mat-icon>
        <span>{{user.firstName}} {{user.lastName}}</span>
        <div class="inline-block" [ngClass]="{'isLoggedId': isLoggedIn}"></div>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="openProfile()">
        <mat-icon>apps</mat-icon>
        <span>{{'MENU.USER' | translate}}</span>
    </button>
    <button mat-menu-item (click)="changeTheme()">
        <mat-icon>{{isDarkTheme ? "brightness_7" : "brightness_2"}}</mat-icon>
        <span>{{('MENU.THEME.' + (isDarkTheme ? 'LIGHT' : 'DARK')) | translate}}</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="language">
        <mat-icon class="fa-solid fa-flag"></mat-icon>
        <span>{{'MENU.LANGUAGES.TITLE' | translate}}</span>
    </button>
</mat-menu>
<mat-menu #language>
    <button mat-menu-item *ngFor="let lang of languages" (click)="changeLang(lang)">
        <mat-icon class="fa-solid fa-landmark-flag"></mat-icon>
        <span>{{('MENU.LANGUAGES.ENUMS.' + lang.toUpperCase()) | translate}}</span>
    </button>
</mat-menu>