@use '@angular/material' as mat;
@import './../../../../constants.scss';

.darkTheme {
    :host {
        @media only screen and (min-width: 600px) {

            .search-and-workspace-container, .search-and-workspace-handle {
                background-color: mat.get-color-from-palette($background, 700) !important;
                color: mat.get-color-from-palette($background, '700-contrast') !important;
            }
        }
    }
}

.container {
    height: 100%;
}

.sidenav {
    padding: 0 0.5rem;
}

.sidenav-container {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.main-page-container {
    margin: 1rem;
}

.inline-block {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.8rem;
    display: inline-block;
    background: orangered;
    margin-left: 0.5rem;
}

.isLoggedId {
    background: yellowgreen;
}

.workspace-container {
    max-height: 15rem;
    overflow-y: auto;
    margin-top: 1rem;
}

.workspace-name {
    overflow-wrap: anywhere;
}

.search-and-workspace-panel {
    position: fixed;
    z-index: 5;
    transform: translate(0, -100%);
    visibility: collapse;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;

    .search-and-workspace-container {
        background-color: mat.get-color-from-palette($primary-palette, 500);
        color: mat.get-color-from-palette($primary-palette, '500-contrast');
    }

    .search-and-workspace-handle {
        width: 5rem;
        height: 3rem;
        cursor: pointer;
        border-top-right-radius: 0;
        border-bottom-right-radius: 5rem;
        border-bottom-left-radius: 5rem;
        background-color: mat.get-color-from-palette($primary-palette, 500);
        color: mat.get-color-from-palette($primary-palette, '500-contrast');
        border-top: 0 solid mat.get-color-from-palette($primary-palette, 900);
        border-bottom: 1px solid mat.get-color-from-palette($primary-palette, 900);
        border-right: 1px solid mat.get-color-from-palette($primary-palette, 900);
        border-left: 1px solid mat.get-color-from-palette($primary-palette, 900);

        mat-icon {
            transform: rotate(90deg);
        }
    }

    &.open {
        visibility: visible;
        transform: translate(0, 3rem) !important;
        transition: transform 0.3s ease-in-out;
    }

    &:hover {
        visibility: visible;
        transform: translate(0, calc(6rem - 100%));
    }
}

mat-toolbar:hover~.search-and-workspace-panel {
    visibility: visible;
    transform: translate(0, calc(6rem - 100%));
}

@media only screen and (min-width: 600px) {

    .search-and-workspace-panel {
        position: fixed;
        z-index: 5;
        transform: translate(-100%, 0);
        visibility: collapse;
        transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;

        .search-and-workspace-container {
            background-color: white;
            color: rgba(0, 0, 0, 0.87);
        }

        .search-and-workspace-handle {
            width: 3rem;
            height: 5rem;
            cursor: pointer;
            border-top-right-radius: 5rem;
            border-bottom-right-radius: 5rem;
            border-bottom-left-radius: 0;
            background-color: white;
            color: rgba(0, 0, 0, 0.87);
            border-top: 1px solid mat.get-color-from-palette($background, 900);
            border-bottom: 1px solid mat.get-color-from-palette($background, 900);
            border-right: 1px solid mat.get-color-from-palette($background, 900);
            border-left: 0 solid mat.get-color-from-palette($background, 900);

            mat-icon {
                transform: rotate(0);
            }
        }

        &.open {
            transform: translate(5rem, 0) !important;
            transition: transform 0.3s ease-in-out;
        }

        &:hover {
            visibility: visible;
            transform: translate(calc(8rem - 100%), 0);
            transition: transform 0.3s ease-in-out;
        }
    }

    mat-sidenav-container:hover~.search-and-workspace-panel {
        visibility: visible;
        transform: translate(calc(8rem - 100%), 0);
        transition: transform 0.3s ease-in-out;
    }
}

.expired-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: mat.get-color-from-palette($background, 600);
    color: mat.get-color-from-palette($background, '600-contrast');
    border: 1px solid mat.get-color-from-palette($background, 900);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 30rem;
}

a {
    cursor: pointer;
}

mat-toolbar {
    height: 3rem !important;
    z-index: 10;
}

mat-sidenav-container {
    z-index: 10;
}

mat-icon {
    margin-right: 0.5rem;
}