<div mat-dialog-title>
    <span class="title">{{"DIALOG.INSERT_MASTER_PASSWORD" | translate}}</span>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>{{"MASTER_PASSWORD.PASSWORD" | translate}}</mat-label>
        <input matInput [type]="passwordViewToggle ? 'text' : 'password'" [formControl]="passwordControl">
        <button type="button" matSuffix mat-icon-button class="toggle-button" (click)="passwordViewToggle = !passwordViewToggle" [matTooltip]="('MASTER_PASSWORD.' + (passwordViewToggle ? 'HIDDEN' : 'SHOW')) | translate">
            <i class="fa-solid" [ngClass]="passwordViewToggle ? 'fa-eye-slash' : 'fa-eye'"></i>
        </button>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{"MASTER_PASSWORD.REPROMPT.LABEL" | translate}}</mat-label>
        <mat-select [(ngModel)]="reprompt">
            <mat-option>{{"MASTER_PASSWORD.REPROMPT.ALWAYS" | translate}}</mat-option>
            <mat-option *ngFor="let option of repromptOptions" [value]="option">
                {{option.value + " " + ("MASTER_PASSWORD.REPROMPT.ENUMS." + option.time | translate)}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="null" cdkFocusInitial>{{"SHARED.CANCEL" | translate}}</button>
    <button mat-button [disabled]="!passwordControl.value" (click)="closeDialog()">{{"SHARED.CONFIRM" | translate}}</button>
</div>