<div mat-dialog-title>
    <span class="title">{{"DIALOG.INSERT_MASTER_PASSWORD" | translate}}</span>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>{{"MASTER_PASSWORD.PASSWORD" | translate}}</mat-label>
        <input matInput type="text" [formControl]="passwordControl">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="null" cdkFocusInitial>{{"SHARED.CANCEL" | translate}}</button>
    <button mat-button [mat-dialog-close]="passwordControl.value" [disabled]="!passwordControl.value">{{"SHARED.CONFIRM" | translate}}</button>
</div>