:host {
    height: calc(100vh - 2rem - 3rem);
    display: block;
}

@media only screen and (min-width: 600px) {
    :host {
        height: calc(100vh - 2rem);
    }
}

.container {
    overflow-y: auto;
}

.element {
    cursor: pointer;
}

.element:hover {
    background-color: #424242;
}

.element+.element {
    margin-top: 1rem;
}

.rounded-icon {
    width: 4rem;
    height: 4rem;
    background-color: brown;
    border-radius: 0.5rem;
    border-top-left-radius: 1rem;
}