<custom-table #customTable [columnsDisplay]="columnsDisplay" [defaultColumnSort]="'name'"
    (onSortChange)="onSortChange($event)">
    <div class="element" *ngFor="let credential of dataSource" fxLayout="row" fxFlexOffset="0.5rem">
        <div class="rounded-icon"></div>
        <div fxLayout.lt-md="column" fxLayoutAlign.lt-md="start start" fxFlexOffset.lt-md="0.5rem" fxLayout="row"
            fxLayoutAlign="start center" fxFlexOffset="0" fxFlex>
            <div fxFlexOffset.lt-md="0" fxFlex="grow" fxFlexOffset="0.5rem">{{credential.name | truncate:0:50:'...'}}</div>
            <div fxFlexOffset.lt-md="0" fxFlex="grow" fxFlexOffset="0.5rem">{{credential.website | truncate:0:50:'...'}}</div>
            <div fxFlexOffset.lt-md="0" fxFlex="grow" fxFlexOffset="0.5rem">{{credential.username | truncate:0:50:'...'}}</div>
            <div fxFlexOffset.lt-md="0" fxFlex="grow" fxFlexOffset="0.5rem">{{credential.workspace.name | truncate:0:50:'...'}}</div>
        </div>
    </div>
</custom-table>