<div fxFill fxLayout="column" fxLayoutAlign="space-between stretch">
    <div class="container">
        <div class="element" *ngFor="let credential of dataSource" fxLayout="row">
            <div class="rounded-icon"></div>
            <div fxLayout.lt-md="column" fxLayoutAlign.lt-md="start start" fxFlexOffset.lt-md="0.5rem" fxLayout="row"
                fxLayoutAlign="start center" fxFlexOffset="0" fxFlex>
                <div fxFlexOffset.lt-md="0" fxFlex="grow" fxFlexOffset="0.5rem">{{credential.name | truncate:0:50:'...'}}</div>
                <div fxFlexOffset.lt-md="0" fxFlex="grow" fxFlexOffset="0.5rem">{{credential.website | truncate:0:50:'...'}}</div>
                <div fxFlexOffset.lt-md="0" fxFlex="grow" fxFlexOffset="0.5rem">{{credential.username | truncate:0:50:'...'}}</div>
            </div>
        </div>
    </div>
    <mat-paginator [pageSizeOptions]=" [5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>