@use '@angular/material' as mat;
@import './../../../constants.scss';

.darkTheme {
    :host {
        .login-form {
            background-color: mat.get-color-from-palette($background, 900) !important;
            color: mat.get-color-from-palette($background, '900-contrast') !important;
            box-shadow: 2px 6px 20px 2px #94949438;
        }
    }
}

.logo {
    width: 4rem;
    height: 4rem;
}

.login-form {
    width: 100%;
    padding: 1rem;
    background-color: $background-component;
    color: $background-component-contrast;
    margin-bottom: 1rem;
    box-shadow: 2px 6px 20px 2px #9494945e;

    .forgot-componenet {
        width: 100%;
    }

    mat-form-field {
        width: 100%;
    }
}