<button mat-button color="primary" [routerLink]="['/login']">
    <mat-icon class="fa-solid fa-arrow-left"></mat-icon>
    {{'RESET-CREDENTIAL.BACK' | translate}}
</button>

<div fxLayout="column" fxLayoutAlign="center center">

    <form #form [formGroup]="formGroup" (ngSubmit)="sendEmail()" fxLayout="column" class="login-form">

        <mat-form-field appearance="fill">
            <mat-label>{{'RESET-CREDENTIAL.EMAIL' | translate}}</mat-label>
            <input matInput formControlName="email">
            <mat-icon matPrefix class="fa-solid fa-at"></mat-icon>
        </mat-form-field>

        <button type="submit" mat-raised-button color="accent" [disabled]="!formGroup.valid">
            <mat-icon class="fa-solid fa-paper-plane"></mat-icon>
            {{'RESET-CREDENTIAL.SEND-EMAIL' | translate}}
        </button>

    </form>

    <div *ngIf="resend">
        <span>{{'RESET-CREDENTIAL.INFO' | translate}} </span>
        <button mat-button color="accent" [disabled]="!formGroup.valid" (click)="sendEmail()">
            {{'RESET-CREDENTIAL.RESEND' | translate}}
        </button>
    </div>
</div>