<div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
    <span><strong>{{itemSelected}} {{"SHARED.ITEM_SELECTED" | translate}}</strong></span>

    <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button [disabled]="disabled" (click)="onMoveEvent()">
            <mat-icon class="fa-solid fa-folder"></mat-icon>
        </button>

        <button mat-icon-button [disabled]="disabled" (click)="onDeleteEvent()">
            <mat-icon class="fa-solid fa-trash"></mat-icon>
        </button>

        <mat-divider [vertical]="true"></mat-divider>

        <button mat-icon-button [disabled]="disabled" (click)="onCloseEvent()">
            <mat-icon class="fa-solid fa-close"></mat-icon>
        </button>
    </div>
</div>