// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import './constants.scss';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat.define-palette($primary-palette);
$accent: mat.define-palette($accent-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn: mat.define-palette($warn-palette);


// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$light-theme: mat.define-light-theme((color: (primary: $primary, accent: $accent, warn: $warn,)));
$dark-theme: mat.define-dark-theme((color: (primary: $primary, accent: $accent, warn: $warn,)));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($light-theme);

.mat-app-background {
    background-color: mat.get-color-from-palette($background, 50) !important;
}

.darkTheme {
    $background-component: mat.get-color-from-palette($background, 700);
    $background-component-contrast: mat.get-color-from-palette($background, '700-contrast');
    $background-dialog: mat.get-color-from-palette($background, 100);
    $background-dialog-contrast: mat.get-color-from-palette($background, '100-contrast');

    @include mat.all-component-colors($dark-theme);
    background-color: mat.get-color-from-palette($background, 500) !important;

    .mat-drawer-side,
    .mat-mdc-paginator,
    .mdc-menu-surface {
        background-color: $background-component !important;
        color: $background-component-contrast !important;
    }

    .background-component:hover, .background-component-selected {
        background-color: mat.get-color-from-palette($background, 600) !important;
        color: mat.get-color-from-palette($background, '600-contrast') !important;
    }

    .mdc-text-field, .mat-expansion-panel {
        background-color: mat.get-color-from-palette($background, 800) !important;
        color: mat.get-color-from-palette($background, '800-contrast') !important;
    }

    .mat-mdc-dialog-container {
        --mdc-dialog-container-color: #2f303b !important;
    }

    .main-page-container {
        a:link {
            color: #77F;
        }

        a:active {
            color: #E00;
        }
    }
}

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-paginator {
    border-radius: 0.5rem;
}

.background-component:hover, .background-component-selected {
    background-color: $background-component;
    color: $background-component-contrast;
}

.element {
    span,
    a {
        overflow-wrap: anywhere;
    }
}

.mat-mdc-snack-bar-container {
    --mdc-shape-small: 0.5rem;

    &.mat-snackbar-info {
        --mdc-snackbar-container-color: #b3b3b3;
        --mat-mdc-snack-bar-button-color: rgba(0, 0, 0, 0.87);
        --mdc-snackbar-supporting-text-color: rgba(0, 0, 0, 0.87);
    }

    &.mat-snackbar-success {
        --mdc-snackbar-container-color: #69f0ae;
        --mat-mdc-snack-bar-button-color: rgba(0, 0, 0, 0.87);
        --mdc-snackbar-supporting-text-color: rgba(0, 0, 0, 0.87);
    }

    &.mat-snackbar-warn {
        --mdc-snackbar-container-color: #f4ab36;
        --mat-mdc-snack-bar-button-color: rgba(0, 0, 0, 0.87);
        --mdc-snackbar-supporting-text-color: rgba(0, 0, 0, 0.87);
    }

    &.mat-snackbar-error {
        --mdc-snackbar-container-color: #f44336;
        --mat-mdc-snack-bar-button-color: rgba(0, 0, 0, 0.87);
        --mdc-snackbar-supporting-text-color: rgba(0, 0, 0, 0.87);
    }
}