<form [formGroup]="formGroup" (ngSubmit)="save()" fxLayout="column">
    <mat-form-field appearance="fill">
        <mat-label>{{"CREDENTIAL.NAME" | translate}}</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>

    <h3>{{"CREDENTIAL.LOGIN_DETAIL" | translate}}</h3>

    <mat-form-field appearance="fill">
        <mat-label>{{"CREDENTIAL.WEBSITE" | translate}}</mat-label>
        <input matInput formControlName="website">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{"CREDENTIAL.USERNAME" | translate}}</mat-label>
        <input matInput formControlName="username">
    </mat-form-field>

    <mat-form-field appearance="fill" class="password-input">
        <mat-label>{{"CREDENTIAL.PASSWORD" | translate}}</mat-label>
        <input matInput [type]="passwordViewToggle ? 'text' : 'password'" formControlName="password">
        <button type="button" matSuffix mat-icon-button class="toggle-button" (click)="passwordViewToggle = !passwordViewToggle" [matTooltip]="('SHARED.' + (passwordViewToggle ? 'HIDDEN_PASSWORD' : 'SHOW_PASSWORD')) | translate">
            <i class="fa-solid" [ngClass]="passwordViewToggle ? 'fa-eye-slash' : 'fa-eye'"></i>
        </button>
    </mat-form-field>

    <h3>{{"CREDENTIAL.OTHER" | translate}}</h3>

    <mat-form-field appearance="fill">
        <mat-label>{{"CREDENTIAL.WORKSPACE" | translate}}</mat-label>
        <mat-select formControlName="workspace" #select>
            <mat-option [value]="workspaceOption" *ngFor="let workspaceOption of workspaces">{{workspaceOption.name}}</mat-option>
        </mat-select>
        <mat-icon matPrefix class="fa-solid" [ngClass]="select.value ? 'fa-folder-open' : 'fa-folder'"></mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'CREDENTIAL.NOTE' | translate}}</mat-label>
        <textarea matInput cdkTextareaAutosize [rows]="4" cdkAutosizeMaxRows="7"></textarea>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="end center" class="actions">
        <button type="submit" mat-raised-button color="accent" [disabled]="!formGroup.valid">
            <mat-icon class="fa-solid fa-save"></mat-icon>{{"SHARED.SAVE" | translate}}
        </button>
        <button type="button" mat-raised-button [routerLink]="['/passwords']" fxFlexOffset="2rem">
            <mat-icon class="fa-solid fa-arrow-left"></mat-icon>{{"SHARED.BACK" | translate}}
        </button>
    </div>
</form>