.container {
    overflow-y: auto;
}

.header {
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    position: sticky;
    top: 0;
}

.column {
    cursor: pointer;

    span+i {
        margin-left: 1rem;
    }
}
