<div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="title">{{title}}</div>
    <button mat-raised-button color="accent" (click)="add()">
        <mat-icon class="fa-solid fa-add"></mat-icon>
        <ng-content select="[addButton]"></ng-content>
    </button>
</div>
<div fxFill fxLayout="column" fxLayoutAlign="space-between stretch">
    <div class="container" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center" class="header">
            <mat-checkbox [ngClass]="{'actions': !(checked || indeterminate)}" (change)="onCheck($event)"
                [(ngModel)]="checked" [(indeterminate)]="indeterminate"></mat-checkbox>
            <div class="column" fxFlex="grow" fxFlexOffset="0.5rem" (click)="order(column.name)"
                *ngFor="let column of displayedColumns">
                <span>{{column.title}}</span>
                <ng-container *ngIf="sort.substring(1) === column.name; else elseBlock">
                    <ng-container [ngSwitch]="sort.charAt(0)">
                        <i *ngSwitchCase="'+'" class="fa-solid fa-arrow-up"></i>
                        <i *ngSwitchCase="'-'" class="fa-solid fa-arrow-down"></i>
                    </ng-container>
                </ng-container>
                <ng-template #elseBlock>
                    <i class="fa-solid fa-arrow-up move"></i>
                </ng-template>
            </div>
            <div fxFlexOffset="2.5rem"></div>
        </div>
        <ng-content></ng-content>
    </div>
    <mat-paginator [pageSizeOptions]=" [10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>