.password {
    font-size: 2rem;
    overflow-wrap: anywhere;
}

.progress-bar {
    margin: 1rem 0;

    .progress-bar-value {
        margin-bottom: 0.5rem;
    }
}

.very_weak {
    --mdc-linear-progress-active-indicator-color: #cb3234;
}

.weak {
    --mdc-linear-progress-active-indicator-color: #ff7514;
}

.moderate {
    --mdc-linear-progress-active-indicator-color: #dada66;
}

.strong {
    --mdc-linear-progress-active-indicator-color: #62a862;
}

.very_strong {
    --mdc-linear-progress-active-indicator-color: #336618;
}