<div fxLayout="row" fxLayoutAlign="space-between center">
    <label class="password">{{password}}</label>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexOffset="1rem">
        <button mat-icon-button color="accent" (click)="generate()">
            <mat-icon class="fa-solid fa-refresh"></mat-icon>
        </button>
        <button mat-icon-button color="accent" [cdkCopyToClipboard]="password" (click)="copy()">
            <mat-icon class="fa-solid fa-copy"></mat-icon>
        </button>
    </div>
</div>

<div class="progress-bar">
    <mat-progress-bar class="progress-bar-value" [ngClass]="strengthLabel.toLowerCase()"
        [value]="strength"></mat-progress-bar>
    <label>
        <i class="fa-solid fa-shield"></i>
        {{('PASSWORD_GENERATOR.ENUMS.' + strengthLabel) | translate}}
    </label>
</div>

<div fxLayout="row" fxLayoutAlign="space-between start">
    <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start start">
        <mat-form-field class="example-margin example-width" appearance="fill">
            <mat-label>{{'PASSWORD_GENERATOR.LENGTH' | translate}}</mat-label>
            <input matInput type="number" [max]="max" [min]="min" [(ngModel)]="value"
                (change)="toggleChange('length', false)">
        </mat-form-field>
        <mat-slider color="accent" [max]="max" [min]="min" [discrete]="true" fxFlexOffset="1rem">
            <input matSliderThumb [(ngModel)]="value" (change)="toggleChange('length', false)">
        </mat-slider>
    </div>
    <div fxLayout="column" fxLayoutAlign=" end" fxFlexOffset.lt-md="1rem">
        <mat-slide-toggle [labelPosition]="'before'" (toggleChange)="toggleChange('upper', !checkUpperCase)">
            {{'PASSWORD_GENERATOR.UPPERCASE' | translate}}
        </mat-slide-toggle>
        <mat-slide-toggle [labelPosition]="'before'" (toggleChange)="toggleChange('numbers', !checkNumbers)"
            fxFlexOffset="1rem">
            {{'PASSWORD_GENERATOR.NUMBERS' | translate}}
        </mat-slide-toggle>
        <mat-slide-toggle [labelPosition]="'before'" (toggleChange)="toggleChange('symbols', !checkSymbols)"
            fxFlexOffset="1rem">
            {{'PASSWORD_GENERATOR.SYMBOLS' | translate}}
        </mat-slide-toggle>
    </div>
</div>