<custom-table #customTable [title]="'MENU.NOTES' | translate" [displayedColumns]="iDisplayedColumns" [defaultColumnSort]="'name'" (addElement)="addElement()">
    <div addButton>{{'NOTE.ADD' | translate}}</div>

    <div class="element background-component" *ngFor="let data of dataSource" fxLayout="row">
        <div class="rounded-icon"></div>
        <div fxLayout.lt-md="column" fxLayoutAlign.lt-md="start start" fxLayout="row" fxLayoutAlign="start center"
            fxFlex>
            <div fxFlex="grow" fxFlexOffset="0.5rem">
                <span>{{data.name | truncate:0:50:'...'}}</span>
            </div>
            <div fxFlex="grow" fxFlexOffset="0.5rem">
                <span>{{data.workspace.name | truncate:0:50:'...'}}</span>
            </div>
        </div>
        <div class="actions" fxLayoutAlign="center center"><button mat-mini-fab [matMenuTriggerFor]="menu"><mat-icon
                    class="fa-solid fa-ellipsis"></mat-icon></button></div>

        <mat-menu #menu>
            <button mat-menu-item (click)="copy(data)">
                <mat-icon class="fa-solid fa-copy"></mat-icon>
                <span>{{'MENU.COPY_CONTENT' | translate}}</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="moveWorkspace(data)">
                <mat-icon class="fa-solid fa-folder"></mat-icon>
                <span>{{'MENU.MOVE_WORKSPACE' | translate}}</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item [routerLink]="[data.id]">
                <mat-icon class="fa-solid fa-edit"></mat-icon>
                <span>{{'MENU.EDIT' | translate}}</span>
            </button>
            <button mat-menu-item (click)="edit(data)">
                <mat-icon class="fa-solid fa-trash"></mat-icon>
                <span>{{'MENU.DELETE' | translate}}</span>
            </button>
        </mat-menu>
    </div>
</custom-table>