<custom-table #customTable [title]="'MENU.NOTES' | translate" [displayedColumns]="iDisplayedColumns" [checked]="checked"
    [indeterminate]="indeterminate" [itemSelected]="itemSelected" (addElement)="addElement()"
    (onCheckAll)="onCheckAll($event)" (moveEvent)="onMoveMassive()" (deleteEvent)="onDeleteMassive()">
    <div addButton>{{'NOTE.ADD' | translate}}</div>

    <div class="element background-component" [ngClass]="{'background-component-selected': clicked === i}"
        *ngFor="let data of dataSource; let i=index" fxLayout="row">
        <div fxLayoutAlign="center center" [ngClass]="{'actions': !showCheckBox}">
            <mat-checkbox #checkItem (change)="onCheck()"></mat-checkbox>
        </div>
        <div class="details" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start start" fxLayout="row"
            fxLayoutAlign="start center" fxFlex (click)="checkItem.checked = !checkItem.checked; onCheck()">
            <div fxFlex="grow">
                <span>{{data.name | truncate:0:50:'...'}}</span>
            </div>
            <div fxFlex="grow">
                <span>{{data.workspace.name | truncate:0:50:'...'}}</span>
            </div>
        </div>
        <div class="actions" fxLayoutAlign="center center" [ngClass]="{'show': clicked === i}">
            <button mat-mini-fab [matMenuTriggerFor]="menu" (click)="clicked = i">
                <mat-icon class="fa-solid fa-ellipsis"></mat-icon>
            </button>
        </div>

        <mat-menu #menu (close)="menuClose()">
            <button mat-menu-item (click)="copyContent(data)">
                <mat-icon class="fa-solid fa-copy"></mat-icon>
                <span>{{'MENU.COPY_CONTENT' | translate}}</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="moveWorkspace(data)">
                <mat-icon class="fa-solid fa-folder"></mat-icon>
                <span>{{'MENU.MOVE_WORKSPACE' | translate}}</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item [routerLink]="[data.id]">
                <mat-icon class="fa-solid fa-edit"></mat-icon>
                <span>{{'MENU.EDIT' | translate}}</span>
            </button>
            <button mat-menu-item (click)="deleteElement(data)">
                <mat-icon class="fa-solid fa-trash"></mat-icon>
                <span>{{'MENU.DELETE' | translate}}</span>
            </button>
        </mat-menu>
    </div>
</custom-table>