<div class="container" fxLayout="row" fxLayout.lt-sm="column">
    <mat-toolbar color="primary" fxHide fxShow.lt-sm>
        <span><strong>Virgo</strong></span>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-evenly center">
            <a mat-icon-button [matTooltip]="'MENU.WALLET' | translate" [routerLink]="['wallet']" aria-label="Wallet">
                <ng-container *ngTemplateOutlet="walletIcon"></ng-container>
            </a>
            <a mat-icon-button [matTooltip]="'MENU.CREDENTIALS' | translate" [routerLink]="['credentials']"
                aria-label="Credential">
                <ng-container *ngTemplateOutlet="credentialsIcon"></ng-container>
            </a>
            <a mat-icon-button [matTooltip]="'MENU.NOTES' | translate" [routerLink]="['notes']" aria-label="Notes">
                <ng-container *ngTemplateOutlet="notesIcon"></ng-container>
            </a>
            <a mat-icon-button [matTooltip]="'MENU.PASSWORD_GENERATOR' | translate"
                [routerLink]="['password-generator']" aria-label="Password generator">
                <ng-container *ngTemplateOutlet="passwordIcon"></ng-container>
            </a>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="settings" [matTooltip]="'MENU.SETTINGS' | translate"
            aria-label="Menu">
            <mat-icon class="fa-solid fa-gear"></mat-icon>
        </button>
        <button mat-icon-button [matTooltip]="'MENU.LOGOUT' | translate" aria-label="Logout" (click)="signout()">
            <ng-container *ngTemplateOutlet="logoutIcon"></ng-container>
        </button>
    </mat-toolbar>

    <mat-sidenav-container fxHide.lt-sm fxShow>
        <mat-sidenav class="sidenav" mode="side" position="start" opened>
            <mat-nav-list>
                <div mat-list-item fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign="space-between center">
                    <span mat-line><strong>Virgo</strong></span>
                    <div fxLayout.lt-md="column">
                        <button mat-icon-button [matMenuTriggerFor]="settings"
                            [matTooltip]="'MENU.SETTINGS' | translate" aria-label="Menu">
                            <mat-icon class="fa-solid fa-gear" color="primary"></mat-icon>
                        </button>
                    </div>
                </div>

                <div mat-list-item fxHide.lt-md>
                    <ng-container *ngTemplateOutlet="search"></ng-container>
                </div>

                <a mat-list-item [routerLink]="['wallet']" routerLinkActive="active">
                    <ng-container *ngTemplateOutlet="walletIcon"></ng-container>
                    <mat-icon mat-list-icon fxHide.lt-md fxShow class="fa-solid fa-wallet"></mat-icon>
                    <span mat-line fxHide.lt-md fxShow>{{'MENU.WALLET' | translate}}</span>
                </a>

                <a mat-list-item [routerLink]="['credentials']">
                    <ng-container *ngTemplateOutlet="credentialsIcon"></ng-container>
                    <mat-icon mat-list-icon fxHide.lt-md fxShow class="fa-solid fa-user-secret"></mat-icon>
                    <span mat-line fxHide.lt-md fxShow>{{'MENU.CREDENTIALS' | translate}}</span>
                </a>

                <a mat-list-item [routerLink]="['notes']">
                    <ng-container *ngTemplateOutlet="notesIcon"></ng-container>
                    <mat-icon mat-list-icon fxHide.lt-md fxShow class="fa-solid fa-note-sticky"></mat-icon>
                    <span mat-line fxHide.lt-md fxShow>{{'MENU.NOTES' | translate}}</span>
                </a>

                <mat-divider></mat-divider>

                <a mat-list-item [routerLink]="['password-generator']">
                    <ng-container *ngTemplateOutlet="passwordIcon"></ng-container>
                    <mat-icon mat-list-icon fxHide.lt-md fxShow class="fa-solid fa-shield"></mat-icon>
                    <span mat-line fxHide.lt-md fxShow>{{'MENU.PASSWORD_GENERATOR' | translate}}</span>
                </a>

                <mat-divider></mat-divider>

                <div fxHide.lt-md>
                    <ng-container *ngTemplateOutlet="workspaceComponent"></ng-container>
                </div>

                <a mat-list-item (click)="signout()">
                    <ng-container *ngTemplateOutlet="logoutIcon"></ng-container>
                    <mat-icon mat-list-icon fxHide.lt-md fxShow class="fa-solid fa-right-from-bracket"></mat-icon>
                    <span mat-line fxHide.lt-md fxShow>{{'MENU.LOGOUT' | translate}}</span>
                </a>
            </mat-nav-list>
        </mat-sidenav>
    </mat-sidenav-container>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-sm="column" fxHide fxShow.lt-md
        class="search-and-workspace-panel" [ngClass]="openContainer ? 'open' : 'close'">
        <div class="search-and-workspace-container">
            <ng-container *ngTemplateOutlet="search"></ng-container>
            <ng-container *ngTemplateOutlet="workspaceComponent"></ng-container>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="search-and-workspace-handle"
            (click)="openContainer = !openContainer">
            <mat-icon class="fa-solid"
                [ngClass]="openContainer ? 'fa-angle-double-left' : 'fa-angle-double-right'"></mat-icon>
        </div>
    </div>

    <div class="main-page-container" fxFlex [@routeAnimations]="getRouteAnimationData()">
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #walletIcon>
    <mat-icon mat-list-icon fxHide fxShow.lt-md class="fa-solid fa-wallet"
        [matTooltip]="'MENU.WALLET' | translate"></mat-icon>
</ng-template>

<ng-template #credentialsIcon>
    <mat-icon mat-list-icon fxHide fxShow.lt-md class="fa-solid fa-user-secret"
        [matTooltip]="'MENU.CREDENTIALS' | translate"></mat-icon>
</ng-template>

<ng-template #notesIcon>
    <mat-icon mat-list-icon fxHide fxShow.lt-md class="fa-solid fa-note-sticky"
        [matTooltip]="'MENU.NOTES' | translate"></mat-icon>
</ng-template>

<ng-template #passwordIcon>
    <mat-icon mat-list-icon fxHide fxShow.lt-md class="fa-solid fa-shield"
        [matTooltip]="'MENU.PASSWORD_GENERATOR' | translate"></mat-icon>
</ng-template>

<ng-template #logoutIcon>
    <mat-icon mat-list-icon fxHide fxShow.lt-md class="fa-solid fa-right-from-bracket"
        [matTooltip]="'MENU.LOGOUT' | translate"></mat-icon>
</ng-template>

<ng-template #search>
    <mat-form-field class="example-full-width">
        <mat-label>{{'SHARED.SEARCH' | translate}}</mat-label>
        <input matInput [(ngModel)]="settingsService.search">
        <mat-icon matSuffix class="fa-solid fa-search"></mat-icon>
    </mat-form-field>
</ng-template>

<ng-template #workspaceComponent>
    <mat-expansion-panel [expanded]="openContainer && expandWorkspacePanel" (opened)="expandWorkspacePanel = true"
        (closed)="expandWorkspacePanel = false">
        <mat-expansion-panel-header>
            <mat-panel-title>{{'MENU.WORKSPACES' | translate}}</mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-stroked-button color="primary" (click)="addWorkspace()">
            <mat-icon class="fa-solid fa-folder-plus"></mat-icon>
            <span>{{'WORKSPACE.ADD' | translate}}</span>
        </button>
        <div class="workspace-container">
            <div *ngFor="let workspace of workspaces" fxLayout="row" fxLayoutAlign="space-between center">
                <span class="workspace-name">{{workspace.name | truncate:0:20:'...'}}</span>
                <button mat-icon-button color="warn" [matTooltip]="'WORKSPACE.REMOVE' | translate"
                    (click)="removeWorkspace(workspace)">
                    <mat-icon class="fa-solid fa-folder-minus"></mat-icon>
                </button>
            </div>
        </div>
    </mat-expansion-panel>
</ng-template>

<mat-menu #settings>
    <button mat-menu-item *ngIf="user" (click)="openProfile()">
        <mat-icon class="fa-solid fa-person"></mat-icon>
        <span>{{user.firstName}} {{user.lastName}}</span>
        <div class="inline-block" [ngClass]="{'isLoggedId': isLoggedIn}"></div>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="lock()">
        <mat-icon class="fa-solid fa-lock"></mat-icon>
        <span>{{'MENU.LOCK' | translate}}</span>
    </button>
    <button mat-menu-item [routerLink]="['master-password']" [fragment]="updateMasterPassword">
        <mat-icon class="fa-solid fa-key"></mat-icon>
        <span>{{'MENU.MASTER-PASSWORD_UPDATE' | translate}}</span>
    </button>
    <button mat-menu-item (click)="changeTheme()">
        <mat-icon>{{isDarkTheme ? "brightness_7" : "brightness_2"}}</mat-icon>
        <span>{{('MENU.THEME.' + (isDarkTheme ? 'LIGHT' : 'DARK')) | translate}}</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="language">
        <mat-icon class="fa-solid fa-flag"></mat-icon>
        <span>{{'MENU.LANGUAGES.TITLE' | translate}}</span>
    </button>
</mat-menu>
<mat-menu #language>
    <button mat-menu-item *ngFor="let lang of languages" (click)="changeLang(lang)">
        <mat-icon class="fa-solid fa-landmark-flag"></mat-icon>
        <span>{{('MENU.LANGUAGES.ENUMS.' + lang.toUpperCase()) | translate}}</span>
    </button>
</mat-menu>

<div *ngIf="expiredTimeLeft" class="expired-container">
    <h2>{{"SESSION.EXPIRE_IN" | translate: {time: expiredTimeLeft} }}</h2>
    <span>{{"SESSION.EXPIRE_MESSAGE" | translate}}</span>
</div>