<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>{{"DIALOG.SELECT_WORKSPACE" | translate}}</mat-label>
        <mat-select [formControl]="workspaceControl">
            <mat-option [value]="workspace" *ngFor="let workspace of workspaces">{{workspace.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="null" cdkFocusInitial>{{"SHARED.CLOSE" | translate}}</button>
    <button mat-button [mat-dialog-close]="workspaceControl.value" [disabled]="!workspaceControl.value">{{"SHARED.MOVE" | translate}}</button>
</div>