<div class="main-page-container" fxLayout="column" fxLayoutAlign="center">

    <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center">
            <img class="main-logo" src="assets/logo.png" alt="logo">
            <h1>{{'MAIN.TITLE' | translate}}</h1>
        </div>

        <h4>{{'MAIN.SUBTITLE' | translate}}</h4>
    </div>

    <div fxLayout="row" fxLayoutAlign="end baseline" class="actions">
        <mat-slide-toggle #darkModeSwitch color="primary" (change)="toggleTheme()"
            [(ngModel)]="isDarkTheme"></mat-slide-toggle>
        <mat-form-field>
            <mat-select (valueChange)="changeLang($event)" [(ngModel)]="currentLanguage">
                <mat-select-trigger>
                    <ng-container [ngTemplateOutlet]="option" [ngTemplateOutletContext]="{'lang': currentLanguage}">
                    </ng-container>
                </mat-select-trigger>
                <mat-option [value]="lang" *ngFor="let lang of languages">
                    <ng-container [ngTemplateOutlet]="option" [ngTemplateOutletContext]="{'lang': lang}">
                    </ng-container>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <router-outlet></router-outlet>
</div>

<ng-template #option let-lang="lang">
    <img [src]="'assets/' + lang + '.png'" class="language-logo" [alt]="lang">
    {{('MENU.LANGUAGES.ENUMS.' + lang.toUpperCase()) | translate}}
</ng-template>