:host {
    display: block;
    height: 100%;
}

.main-logo {
    width: 4rem;
    height: 4rem;
}

.language-logo {
    width: 1rem;
}

.actions {
    mat-form-field {
        margin-left: 1rem;
        width: 11rem;
    }
}

.main-page-container {
    padding: 2rem;
    max-width: 40rem;
    margin: auto;
}