.element {
    cursor: pointer;
    border-top: 1px solid #151922;
    box-sizing: border-box;
    padding: 0.2rem 0.5rem;
}

.actions {
    visibility: hidden;
    opacity: 0;
}

.element:hover {
    .actions {
        visibility: visible;
        opacity: 1;
        transition: visibility 0.3s linear, opacity 0.3s linear;
    }
}